.cont-pai {
  width: 100%;
  height: 80px;
}

.cont-header {
  width: 100%;
  height: 100%;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: #fcfcfc;
}

.cont-left {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 30%;
}

.cont-right {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 6%;
}

.estilo-label-saudacoes {
  font-weight: 800;
  font-size: 18px;
}

.estilo-label-header {
  font-weight: 500;
  color: #666666;
}

.name-adm {
  position: relative;
  top: -22px;
  font-size: 18px;
  font-weight: 600;
  color: #2a2a2a;
}

.label-adm {
  position: relative;
  top: -19px;
  font-size: 15px;
  font-weight: 400;
  color: #aaaaaa;
}

.cont-profile {
  width: 170px;
  height: 70%;
  border: 1px solid #555555;
  margin-right: 3%;
  border-radius: 15px;
}
.profile {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: auto;
}
.detalhe-adm {
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 8%;
}

img {
  width: 80px;
}
