<app-header></app-header>
<p-divider />
<main>
  <div class="menu-left">
    <p class="label-menu">Menu</p>
    <div class="options-menu">
      <div class="item-menu" routerLink="['']">
        <i class="pi pi-th-large"></i>
        <p>Dashboard</p>
      </div>
    </div>
    <div class="options-menu">
      <div class="item-menu" routerLink="['']">
        <i class="pi pi-users"></i>
        <p>Médicos</p>
      </div>
    </div>
    <div class="options-menu">
      <div class="item-menu" routerLink="['']">
        <i class="pi pi-th-large"></i>
        <p>Dashboard</p>
      </div>
    </div>
    <div class="options-menu">
      <div class="item-menu" routerLink="['']">
        <i class="pi pi-th-large"></i>
        <p>Dashboard</p>
      </div>
    </div>
    <div class="options-menu">
      <div class="item-menu" routerLink="['']">
        <i class="pi pi-th-large"></i>
        <p>Dashboard</p>
      </div>
    </div>
    <div class="options-menu">
      <div class="item-menu" routerLink="['']">
        <i class="pi pi-users"></i>
        <p>Médicos</p>
      </div>
    </div>
    <div class="options-menu">
      <div class="item-menu" routerLink="['']">
        <i class="pi pi-th-large"></i>
        <p>Dashboard</p>
      </div>
    </div>
    <div class="options-menu">
      <div class="item-menu" routerLink="['']">
        <i class="pi pi-th-large"></i>
        <p>Dashboard</p>
      </div>
    </div>
    <p-divider class="space-divider" />
    <div class="options-menu">
      <div class="item-menu" routerLink="['']">
        <i class="pi pi-th-large"></i>
        <p>Dashboard</p>
      </div>
    </div>
    <div class="options-menu">
      <div class="item-menu" routerLink="['']">
        <i class="pi pi-th-large"></i>
        <p>Dashboard</p>
      </div>
    </div>
    <div class="options-menu">
      <div class="item-menu" routerLink="['']">
        <i class="pi pi-th-large"></i>
        <p>Dashboard</p>
      </div>
    </div>
  </div>
  <div class="content-rigth">
    <p>Teste</p>
  </div>
</main>
