// Branco :
$white-primary: #fcfcfc;
$white-secundary: #f5f5f5;

// Azul
$blue-primary: #209596;
$blue-secondary: #c8ffff;

// Vermelho
$red-primary: #ff2f3a;

//Laranja
$orange-primary: #ffb800;

//Verde
$green-primary: #00b45e;
$green-secondary: #dcf5e9;

// Rosa
$rose-primary: #ffedee;
$rose-secondary: #fcf2d9;

// Preto
$black-primary: #2a2a2a;
$black-secondary: #555555;

//Cinza
$gray-primary: #666666;
$gray-secondary: #999999;
$gray-secondary-2: #aaaaaa;

// Cinza mais claro
$gray-secondary-clean-1: #c0c0c0;
$gray-secondary-clean-2: #d9d9d9;
$gray-secondary-clean-3: #eeeeee;
